<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Images</title>
</head>
<body>
    <h1>Your Images</h1>
    {% for url in urls %}
        <div>
            <a href="{{ url }}" target="_blank">
                <img src="{{ url }}" style="width: 300px;">
            </a>
            <a href="/delete_image?filename={{ url }}">Delete</a>
        </div>
    {% endfor %}
    <a href="/">Back to main menu</a>
</body>
</html>